<%= form_for @coupon, :html => { :class => 'form-horizontal' },
  :url => consumers_path do |f| %>

  <div class="form-actions">
    <%= f.submit "Claim", :class => 'btn btn-primary'%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                offers_path, :class => 'btn' %>
  </div>
<% end %>
