<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>


<body>

  <%= render 'layouts/nav_links' %>
  
  <div class="container">
    <div class="row">
      <div class="span9">
        <%= render 'shared/display_flash' %>
      </div>
    </div>
  </div>


  <%= yield %>

</body>
</html>
